:root{
   
  --cl-1: #ffb490;
  --cl-2: #ff554d;
  --cl-3: #ffef48;
  --cl-4: #121607;
  --cl-5: #fffaf2;
  --cl-6: #dafff2;
  box-sizing: border-box;


}
.App {
  
  background-color: var(--cl-1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
.center-boy{
 
  background-color: rgba(15, 238, 219, 0.207);
  width: 60%;
  height: 65%;
  border-radius: 50%;

}
